<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> XSS Analyzer - URL </title>

    <link href="/css/index-styles.css" rel="stylesheet" type="text/css">
    
    <script>
        let fdInterval;
        let totalUrls = 0;

        function updateIndividualURLs() {
            const url = "/getIndividualURL";
                
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.END == 1) {
                        document.getElementById("currenturl").innerHTML = "All forms analyzed";
                        document.getElementById("fieldDescriptor").innerHTML = "&nbsp;";
                        document.getElementById("individualurls").src = "/img/check.png";

                        document.getElementById("cuadro1").style.display = "none"
                        document.getElementById("cuadro1").style.visibility = "hidden";

                        document.getElementById("cuadro2").style.display = "none"
                        document.getElementById("cuadro2").style.visibility = "hidden";
                        
                        clearInterval(fdInterval);
                        setInterval(gotoNext, 2000)
                        return;
                    }

                    clearData();
                    
                    document.getElementById("currenturl").innerHTML = data.url;
                    document.getElementById("cuadro1").style.display = "flex"
                    document.getElementById("cuadro1").style.visibility = "visible";
                    
                    if (data.hasForms == 0) {
                        document.getElementById("formMethod").innerHTML = "No forms found; skipping to the next URL...";
                        document.getElementById("cuadro2").style.display = "none"
                        document.getElementById("cuadro2").style.visibility = "hidden";
                    } else {
                        document.getElementById("formNumber").innerHTML = "&nbsp; Form " + data.formNumber + " ";
                        document.getElementById("formMethod").innerHTML = "&nbsp; | Method: " + data.method + " ";
                        if (data.action == data.url) {
                            document.getElementById("formAction").innerHTML = "&nbsp; | Action: self (url) ";
                        } else {
                            document.getElementById("formAction").innerHTML = "&nbsp; | Action: " + data.action + " ";
                        }

                        document.getElementById("formFieldnumber").innerHTML = "&nbsp; | Fields: " + data.formFieldNumber + " ";

                        if (data.formField == "") {
                            document.getElementById("cuadro2").style.display = "none"
                            document.getElementById("cuadro2").style.visibility = "hidden";
                        } else {
                            document.getElementById("cuadro2").style.display = "flex"
                            document.getElementById("cuadro2").style.visibility = "visible";
                            document.getElementById("fieldDescriptor").innerHTML = data.formField;
                            document.getElementById("fieldRes").innerHTML = data.hasXSS;
                        }
                    } 
                });
        }
            
        function clearData() {
            document.getElementById("currenturl").innerHTML = "";
            document.getElementById("fieldDescriptor").innerHTML = "-/-";

            document.getElementById("formNumber").innerHTML = "";
            document.getElementById("formMethod").innerHTML = "";
            document.getElementById("formFieldnumber").innerHTML = "";
            document.getElementById("formAction").innerHTML = "";

            document.getElementById("cuadro1").style.display = "none";    
            document.getElementById("cuadro1").style.visibility = "hidden";

            document.getElementById("fieldDescriptor").innerHTML = "&nbsp;";
            document.getElementById("fieldRes").innerHTML = "&nbsp;";
        }

        function gotoNext() {
            document.getElementById("formAnalyze").submit();
        }

        function mainFunction() {
            document.getElementById("cuadro1").style.display = "none";
            document.getElementById("cuadro1").style.visibility = "hidden";

            document.getElementById("cuadro2").style.display = "none";
            document.getElementById("cuadro2").style.visibility = "hidden";

            fetch("/startIndividualURL");
            document.getElementById("individualurls").src = "/img/loading.gif";
            fdInterval = setInterval(updateIndividualURLs, 50)
        }

    </script>
</head>
<body onload="mainFunction()">
    <%- include("./orbikHeader.ejs") %>

    <h2 style="text-align: left; margin-left: 100px; " class="titulo-con-icono"> Individual URL analysis &nbsp;</h2> &nbsp; <img class="titulo-con-icono" id="individualurls" style="width: 35px; height: 35px;" src="/img/time.png" alt="Cargando...">
    <i><h3 style="text-align: left; margin-left: 100px; color: green; margin-top: -10px;" id="currenturl">&nbsp; <%= url %> </h3></i>


    <br>
    <div class="cuadro" id="cuadro1">
        <h3 style="color: green;" id="formNumber">&nbsp; X </h3><h3 style="color: white" id="formMethod"> metodo </h3><h3 id="formFieldnumber">fieldnumber</h3><h3 style="color:white" id="formAction"> action </h3>
    </div>
    <div class="cuadro2" id="cuadro2">
        <table style="text-align: center; margin: auto; white-space: nowrap;">
            <tr>
                <th>
                    <h3> Field under analysis </h3>
                    <p id="fieldDescriptor">&nbsp; -/- </p>
                </th>
                <th>
                    <h3> Analysis result </h3>
                    <p id="fieldRes">&nbsp; -/- </p>
                </th>
            </tr>
        </table>
        <br>
    </div>

    <div>
        <form method="get" action="/endVuln" id="formAnalyze">
            <input type="submit" style="display: none; visibility: hidden;">
        </form>
    </div>
</body>

</html>