<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Nmap - Service & Port Detection </title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script>
        let fdInterval = 0;

        function nmapProgress() {
            
            fetch("/nmapProgress").then(response => response.json()).then(data => {
                console.log(data);

                if (data.status == 2 || data.status == 1) {
                    clearInterval(fdInterval);
                    if (data.status == 2) {
                        document.getElementById("pingResult").innerHTML = " Failed to detect ports & services ";
                        document.getElementById("pingResultSubtext").innerHTML = " Please check your connection to the target and try again ";
                        fdInterval = setInterval(gotoMenu, 3000);
                    } else if (data.status == 1) {
                        document.getElementById("pingResult").innerHTML = " Stable connection to target ";
                        fdInterval = setInterval(gotoAnalyze, 4000);
                    }
                }
            });
        }


        function gotoAnalyze() { document.getElementById("formAnalyze").submit(); }
        function gotoMenu() { window.location.href = "/"; }

        function mainFunction() { fdInterval = setInterval(nmapProgress, 1000) }
    </script>

    <link href="/css/analyzing-styles.css" rel="stylesheet" type="text/css">

</head>
<body onload="mainFunction()">
    <%- include("./orbikHeader.ejs") %>

<div style="text-align: center; padding-top: 75px;">
    <h1> Detecting ports & services of <%= ip %> </h1>
    
    <img id="progressBar" style="padding-top: 35px;" src="/img/loadingbar.gif" alt="Cargando...">
    
    <i><h3 id="pingResult"></h3></i>
    <i><h3 style="color: red; font-size: 20px;" id="pingResultSubtext"></h3></i>

    <form method="POST" action="/analyze" id="formAnalyze"> <input type="submit" style="visibility: hidden;"> </form>
</div>

</body>

</html>