<div style="background-color: rgb(241, 237, 50); margin-top: 0px;">
    <header id="masthead" style="background-color: rgb(241, 237, 50);">
        <a href="https://orbik-cybersecurity.com/" style="margin-left: 75px;" rel="home">
            <div style="margin-left: 5%;">
                <img class="header-image is-logo-image" alt="Orbik Cybersecurity" src="/img/orbikimg.jpg" width="183" height="56">
            </div>
        </a>
    </header>
    <hr style="border: none; height: 3px; color: black; background-color: black;">
</div>